body {
    color: hotpink;
    font-family: 'Kanit', sans-serif;
    background-color:lightpink;
    
}

.special {
    font-family: 'Kanit', sans-serif;
}

h1{
    font-family: 'kanit', sans-serif;
    font-weight: bold;
}