* {
    box-sizing: border-box;
}
body {
    background:blanchedalmond;
}
p{
    color:black;
    font-family: 'League Gothic', sans-serif;
}
.special {
    background-color:blanchedalmond;
    color:rgba(255, 111, 21, 0.896);
    font-size:100px;
    position: relative;
    top: 150px;
    left: 100px;
   
}
.special1 {
    background-color:rgba(255, 111, 21, 0.896);
    font-family: 'Times New Roman', Times, serif;
    position:relative;
    top:70px;
    left: 800px;
    color:black;
    font-size:17px;
    width:190px;
    height:200px;

}

.line {
    background:black; 
    position: relative;
    left: 380px;
    top: -200px;
    width: 800px;
    height:5px;

}

ul li::marker {
    color:black;
    font-size:.7em;
}

a:link {
    text-decoration:none;
}
