*{
    box-sizing: border-box;
    background-color: aliceblue;
}

body {
    margin:0;
}

.heading{
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
} 

.title{
    margin-left:20px;
}

p {
    margin-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right:40px ;
}