h1{
    font-family: 'kanit', sans-serif;
    font-weight: bold;
}
body {
    color: hotpink;
    font-family: 'Kanit', sans-serif;
    background-color:lightpink;
    
}
ul {
    color: hotpink;
    font-family: 'Kanit', sans-serif;
    background-color:lightpink;
    
}